/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#clientBox {
  background-color: #F7F7F7;
  color: #222222;
}

#leftBox {
  background-image: url("chrome://branding/content/about-logo.png");
  background-repeat: no-repeat;
  background-size: 192px auto;
  /* min-width and min-height create room for the logo */
  min-width: 210px;
  min-height: 210px;
  margin-top: 20px;
  -moz-margin-start: 30px;
}


@media (min-resolution: 2dppx) {
  #leftBox {
    background-image: url("chrome://branding/content/about-logo@2x.png");
  }
}

#rightBox {
  margin-left: 30px;
  margin-right: 30px;
 min-width: 300px;
}

#updateDeck > hbox > label:not([class="text-link"]) {
  color: #909090;
}

#trademark {
  font-size: xx-small;
  text-align: center;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
}
